APP_CONFIG__DEBUG=True

APP_CONFIG__RUN__HOST=0.0.0.0
APP_CONFIG__RUN__PORT=8000

APP_CONFIG__DB__ECHO=False

APP_CONFIG__DB__HOST=smartex_db
APP_CONFIG__DB__PORT=5432

APP_CONFIG__DB_TEST__HOST=smartex_db_test
APP_CONFIG__DB_TEST__PORT=5432

APP_CONFIG__REDIS__HOST=smartex_redis
APP_CONFIG__REDIS__PORT=6379

APP_CONFIG__LOGGING__LOG_FILENAME=core/logs/sync_server.log
